In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages

1. Python
2. R
3. SQL
4. Java
5. Scala

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn
5. TensorFlow

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools |
--------------------
|Anaconda|
|Jupyter Notebook|
|RStudio|

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
#This a simple arithmetic expression to mutiply then add integers:

In [3]:
(3*4)+5

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [6]:
def minutes_to_hours(minutes):
    hours = minutes/60
    return hours
result = minutes_to_hours(200)
print(result)
round(result, 2)

3.3333333333333335

3.33

In [ ]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells 
- Share your notebook through GitHub

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
   Abenezer